{% extends 'CimetiereBundle::layout.html.twig' %}

{% block contenu -%}
<div class="container-fluid page-container">
    <div class="row">
        <div class="content-tab col-sm-12 col-md-12  col-lg-10 col-lg-offset-1">
    <h1>Ajouter un cimetière </h1>

            {{ form_start(form, {'attr': {'class': 'form-horizontal'} }) }}
    {{ form_errors(form) }}

            <div class="form-group">
        {{ form_label(form.codeCimetiere, "Code du cimetière : ", {'label_attr': {'class': 'col-sm-2 control-label'} }) }}
<div class="col-sm-4">
        {{ form_errors(form.codeCimetiere) }}
        {{ form_widget(form.codeCimetiere, {'attr': {'class': 'form-control'} }) }}
                </div>
                </div>
                <div class="form-group">
        {{ form_label(form.nomCimetiere, "Nom du cimetière : ", {'label_attr': {'class': 'col-sm-2 control-label'} }) }}
<div class="col-sm-4">
        {{ form_errors(form.nomCimetiere) }}
        {{ form_widget(form.nomCimetiere, {'attr': {'class': 'form-control'} }) }}
                    </div>
                            </div>

    <div class="form-group">
        {{ form_label(form.url, "Url de l'image : ", {'label_attr': {'class': 'col-sm-2 control-label'} }) }}
<div class="col-sm-4">
        {{ form_errors(form.url) }}
        {{ form_widget(form.url, {'attr': {'class': 'form-control'} }) }}
                    </div>
                            </div>
            <div class="form-group">
        {{ form_label(form.ville, "Lier  à une ville : ", {'label_attr': {'class': 'col-sm-2 control-label'} }) }}
        <div class="col-sm-4">
        {{ form_errors(form.ville) }}
        {{ form_widget(form.ville, {'attr': {'class': 'form-control'} }) }}
                    </div>                </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-4">
        {{ form_end(form , {'attr': {'class': 'btn btn-default'} }) }}
    </div>
  </div>
    <ul class="record_actions">
                        <li>
                            <a href="{{ path('cimetiere') }}">
                                <button class="btn btn-success">Retour à la liste</button>
                            </a>
                        </li>
                    </ul>
  </div>
</div>
</div>
{% endblock %}
